.text1{
    font-size: 13px;
    font-weight: 200;
}

.order1{
    font-size: 18px;
   font-weight: 600;
}

.order2{
    font-size: 18px;
    font-weight: 600;
}

.text2{
    font-size: 13px;
    font-weight: 200;

}
.order3{
    font-size: 18px;
    font-weight: 600;
}

.text3{
    font-size: 13px;
    font-weight: 200;

}

.font1 {
    font-size: 15px;
    font-weight: 100;
}

.Date{
    font-size: 15px;
}

.Des{
    font-size: 15px;
}

.date{
    font-size: 10px;
}